This jupyter notebook is prepared by [Chun-Kit Yeung](https://ckyeungac.com).

# Introduction
Welcome guys! I am writing this notebook for COMP4211 aiming to equip you with the most basic **Python** skill in 30 minutes. 30 minutes is not a long time and definitely not enough to cover all of the stuffs in Python. So, I assume you have some programming experience and will only cover the main features and syntax in Python.

So let's start with the convention in computer science, hello world :)

In [1]:
print("hello world")

hello world

## Everything in Python is object
Everything!?

Yes, everything. Let's check with the `id()` function, which return the ID of the object in the python world. You can using `id()` function to check if two objects are the same.

In [2]:
4 # it is an integer 4

4

In [3]:
id(4) # it returns the id of 4

4373908128

In [4]:
a = 4 # we define a variable name 'a' to be 4.
print(a)

4

In [5]:
id(a) # it returns the id of the variable 'a'

4373908128

Surprise! `id(4)` is equal to `id(a)`. It is because the variable `a` simply points to the interger object `4` in python.

In [6]:
a += 1 # which is 5 now
print(a)

5

In [7]:
print('id(4): {0}, \nid(a): {1}, \nid(5): {2}.'.format(id(4), id(a), id(5)))

id(4): 4373908128,
id(a): 4373908160,
id(5): 4373908160.

## Basic Math operators
`+, -, *, /, **(power), %(modulo)`

In [8]:
1 + 1

2

In [9]:
8 - 1

7

In [10]:
10 * 2

20

In [11]:
5 / 3 # different to c++ and java

1.6666666666666667

In [12]:
5 // 3 # integer division

1

In [13]:
5.0 // 3 # work for float too

1.0

In [14]:
-5 // 3

-2

In [15]:
-5.0 // 3

-2.0

In [16]:
5 % 3 # modulo operation

2

In [17]:
2**10 # exponentiation (2 to the power 10)

1024

Python is capable in handling super large integer, exceeding the maximum value available in `longlong` in c++ and java, i.e. $2^{64}$.

In [18]:
2**345

71671831749689734737838152978190216899892655911508785116799651230841339877765150252188079784691427704832

## Comparison operators
+ `>, >=, <, <=, ==, !=`
+ `and, or, not`

In [19]:
a = 5

In [20]:
a != 5

False

In [21]:
not a != 5

True

In [22]:
a < -4 or a > 4

True

In [23]:
a < -4 and a > 4

False

## Conditional statement
+ `if`
+ `elif`
+ `else`

If we want to check if a value $x$ is lies with a range $(a, b)$, we usually use ```a < x && x < b```. 

In python we can use a more intuitive form ```a < x < b```.

In [24]:
if a > 10:
    print("a > 10")
elif 5 <= a <= 10:
    print("5 <= a <= 10")
else:
    print("a < 5")

5 <= a <= 10

Null in python is call `None`

In [25]:
c = None # Pythonic way of saying Null.

In [26]:
if c is None:
    print("c is None")
else:
    print("c is not None")

c is None

In [27]:
if None is False:
    print("None is False")
else:
    print("None is not False.")

None is not False.

### List
+ `list()`, or `[]`, is equavalent to `array()` in c++ or java

In [28]:
c_list = [1,2,3,4]
d_list = [1,2,3,4]
id(c_list), id(d_list)

(4412250568, 4411591944)

In [29]:
c_list == d_list

True

In [30]:
c_list is d_list # it returns False because they have the different id

False

In [31]:
a_list = [] # create an empty list
a_list.append(-21) # add item into list
a_list.append('dog') # heterogeneous type can be stored in the list.
a_list.append(1)
print(a_list)

a_list.pop() # pop out the last element
print(a_list)

a_list += ['bird', 'cat']
print(a_list)

print('len(a_list):', len(a_list)) # print out the number of element in a_list

[-21, 'dog', 1]
[-21, 'dog']
[-21, 'dog', 'bird', 'cat']
len(a_list): 4

#### There are basically three ways to iterate the list.

In [32]:
# print out like in c++/java
for i in range(len(a_list)):
    print(i, a_list[i])

0 -21
1 dog
2 bird
3 cat

In [33]:
# print out in pythonic way
for element in a_list:
    print(element)

-21
dog
bird
cat

In [34]:
# if you need the index of the list, print out with enumerate()
for i, element in enumerate(a_list):
    print(i, element)

0 -21
1 dog
2 bird
3 cat

#### Creating [0, 1, ..., n] in python

In [35]:
# range() function
b_list = range(100)
print(b_list)

print('-'*30)

for element in range(1,100):
    print(element, end=',')
    
print('\n', '-'*30)

for element in range(1, 100, 17):
    print(element, end=',')

range(0, 100)
------------------------------
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,
 ------------------------------
1,18,35,52,69,86,

#### slicing in list

In [36]:
a_list

[-21, 'dog', 'bird', 'cat']

In [37]:
a_list[0] # getting the first element

-21

In [38]:
a_list[1] # getting the second element

'dog'

In [39]:
a_list[-1] # getting the last element

'cat'

In [40]:
a_list[-2] # getting the second last element

'bird'

In [41]:
a_list[0:2] # getting the elements up to index 2, i.e. a_list[0], a_list[1]

[-21, 'dog']

In [42]:
a_list[0:-1] # getting the elements up to the last index, i.e. a_list[0], a_list[1],..., a_list[-2]

[-21, 'dog', 'bird']

In [43]:
a_list[:-1] # the start index is default 0

[-21, 'dog', 'bird']

In [44]:
a_list[1:4]

['dog', 'bird', 'cat']

In [45]:
a_list[1:] # the end index is default len(a_list)

['dog', 'bird', 'cat']

In [46]:
a_list[:] # start index = 0, end index = len(a_list)

[-21, 'dog', 'bird', 'cat']

In [47]:
a_list[0:4:2] # start index = 0, end index = 4, with a step size = 2

[-21, 'bird']

### Dictionary: 
+ `dict()` or `{}` is equavalent to the hashmap in java

In [48]:
print('type of {})', type({}))
print('-'*30)
print('Function available in dict\n', dir({}))

type of {}) <class 'dict'>
------------------------------
Function available in dict
 ['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [49]:
age = {'Ada': 23}
age['Bob'] = 22
age['Cat'] = 21
age['Dot'] = 24
print(age['Cat'])

21

In [50]:
# iteration on 
for key in age.keys():
    print(key)

Ada
Bob
Cat
Dot

In [51]:
for value in age.values():
    print(value)

23
22
21
24

In [52]:
# print out all the keys and values in age
for key, value in age.items():
    print(key, value)

Ada 23
Bob 22
Cat 21
Dot 24

### Functions/Methods

In [53]:
def my_sum(x, y):
    """
    This function will return the sum of two input.
    :type x: int/float/double/str
    :type y: int/float/double/str
    :rtype: int/float/double/str
    """
    
    return x + y

In [54]:
my_sum(3, 4)

7

In [55]:
my_sum(3, 4.5)

7.5

In [56]:
my_sum('COMP', '4211')

'COMP4211'

# Last but not least

## Getting help in Python
When you facing any problem in using python, the function `help()` and `dir()` can save your time before you start googling :)

Let say your want to now what you can do with the `str` type.
You can type `dir(str)`

In [57]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

And you want to know how to use `startswith()` in the `str` type. 

You can use `help()` to see the explanation.

In [58]:
help(str.startswith)

Help on method_descriptor:

startswith(...)
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [59]:
# Let's get the help from the function we defined before.
help(my_sum)

Help on function my_sum in module __main__:

my_sum(x, y)
    This function will return the sum of two input.
    :type x: int/float/double/str
    :type y: int/float/double/str
    :rtype: int/float/double/str

## Take home exercises

### Easy
Write a function to sum a list. e.g. input: `[1, 2, 3, 4, 5, 10]`; output: `25`

### Medium
Write a function to sum the even number in a list. e.g. input: `[1, 2, 3, 4, 5, 10]`; output: `16`

### Hard
Given an array of integers, return indices of the two numbers such that they add up to a specific target. You may assume that each input would have exactly one solution, and you may not use the same element twice.

e.g.:
```
Given nums = [2, 7, 11, 15], target = 9,

Because nums[0] + nums[1] = 2 + 7 = 9,
return [0, 1].
```

Tips: You can use a nested loop to find those indices. The algorithm runs in O(N^2).

### Harder
Same question in hard, find an algorithm that runs in O(N).

Tips: Look up in `dict()` takes O(1).

## Solutions

In [60]:
def easy(nums):
    result = 0
    for num in nums:
        result += num
    return result

def easy_v2(nums):
    """
    This solution make use of the list comprehension in python,
    and built-in sum() function.
    
    :type nums: list
    :rtype: int
    """
    return sum([num for num in nums])

In [61]:
def medium(nums):
    result = 0
    for num in nums:
        if num % 2 == 0:
            result += num
    return result

def medium_v2(nums):
    """
    This solution make use of the list comprehension in python,
    and built-in sum() function.
    
    :type nums: list
    :rtype: int
    """
    return sum([num for num in nums if num%2 == 0])

In [62]:
def hard(nums, target):
    for i, num1 in enumerate(nums):
        for j, num2 in enumerate(nums):
            if i != j:
                if num1 + num2 == target:
                    return [i, j]
    return None

In [63]:
def harder(nums, target):
    sum_hash = {}
    for i, num in enumerate(nums):
        remain = target - num
        if remain in sum_hash.keys():
            return [sum_hash[remain], i]
        else:
            sum_hash[num] = i
    return None

In [64]:
%timeit hard(nums = [11, 15, 2, 7]*1000000, target=9)

1.07 s ± 232 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [65]:
%timeit harder(nums = [11, 15, 2, 7]*100000, target=9)

962 µs ± 148 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)